[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:al3jandr0/lazy.nvim.git
